<div class="slider">
    <ul>
        <li><img src="../../assets/foto-1.webp" alt=""></li>
        <li><img src="../../assets/foto-2.webp" alt=""></li>
        <li><img src="../../assets/foto-3.webp" alt=""></li>
        <li><img src="../../assets/foto-4.jpg" alt=""></li>
    </ul>
    <div class="slider-text">
        <h2>Bienvenido a nuestra tienda en línea</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quas architecto voluptatum sit eos, consequuntur soluta eaque fugit ab aut dignissimos, amet incidunt enim ratione, culpa suscipit quidem corporis possimus?</p>
    </div>
</div>

<div class="content">
    <h2>Obtenga los mejores productos del mercado en nuestra tienda!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, voluptatibus eligendi vel soluta inventore minus temporibus, quisquam dolor illum facilis nesciunt beatae possimus nulla odit quibusdam, blanditiis impedit ipsum recusandae?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate id reiciendis vero cum dolor iste ipsam rerum dolorum error aperiam quae maiores libero ut quam commodi, illum illo beatae sed. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi cumque optio, rerum aperiam labore inventore alias quibusdam temporibus fugiat esse voluptate. Sed facere blanditiis unde, placeat minus dignissimos praesentium veritatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi accusantium minus perferendis ullam quia debitis eius aliquam praesentium voluptates perspiciatis dolores, atque illum sequi cupiditate vitae fugiat, velit in? Illum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil esse obcaecati reprehenderit hic voluptas? Tempora, ipsa, facere error odit nobis similique pariatur tenetur cupiditate, ratione sequi accusamus beatae repellendus cum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta velit corrupti, ipsa magni illo adipisci, quasi iste, minima asperiores veniam numquam. Commodi, necessitatibus doloribus cumque consequatur voluptatem sunt natus quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim labore quae natus laboriosam repellendus! Quidem nobis libero, voluptatum molestias autem dolores velit, at aliquid error quam enim amet recusandae debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate explicabo sapiente commodi facilis a, nihil maxime autem ipsa ut impedit nostrum laudantium sed voluptas quasi, nobis cum repudiandae placeat minus.</p>
</div>
